# {{ ansible_managed }}
#
# Rails application server configuration
#
description	"Rails application server: {{ app_name }}"
author 		"{{ app_author }}"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ app_user_name }}
setgid {{ app_group_name }}
umask 022
reload signal USR2
chdir {{ app_path }}

env RAILS_ENV="{{ app_env }}"
env DATABASE_PASSWORD="{{ mysql_app_password }}"
env SECRET_KEY_BASE="{{ secret_key_base }}"
env GOROOT="{{ go_root }}"
env GOPATH="{{ go_path }}"
env PATH="{{ path }}"
env GEM_PATH="{{ gem_path }}"
env RUBYOPT=-rbundler/setup
env HOME="{{ app_user_home }}"
env START_CONTAINERS=yes

export PATH
export HOME

pre-start script
  WAIT_FILES="/run/docker.pid /run/mysqld/mysqld.pid"

  for _F in ${WAIT_FILES}; do
    RETRIES=0
    while true; do
      [[ ${RETRIES} -gt 30 ]] && exit 1

      [[ -f ${_F} ]] && break

      sleep 1
      let RETRIES+=1
    done
  done

  sudo {{ app_pid_dir_script }}
end script

exec {{ app_server_name }} \
  --bind tcp://{{ app_server_bind }}:{{ app_server_port }} \
  --environment {{ app_env }} \
  --tag {{ app_name }} \
  --pidfile {{ app_server_pid_file }} \
  --redirect-stdout {{ app_server_out_file }} --redirect-stderr {{ app_server_err_file }}
