# {{ ansible_managed }}
#
# Rails scheduler configuration
#
description	"Rails scheduler: {{ app_name }}"
author 		"{{ app_author }}"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ app_user_name }}
setgid {{ app_group_name }}
umask 022
reload signal USR2
chdir {{ app_path }}

env RAILS_ENV="{{ app_env }}"
env DATABASE_PASSWORD="{{ mysql_app_password }}"
env PATH="{{ path }}"
env GEM_PATH="{{ gem_path }}"
env HOME="{{ app_user_home }}"

env SKIP_DOCKER=yes

export PATH
export HOME

pre-start script
  sudo {{ app_pid_dir_script }}
end script

exec {{ scheduler_name }} \
  --environment {{ app_env }} \
  --tag {{ app_name }} \
  --logfile {{ scheduler_log_file }} \
  --pidfile {{ scheduler_pid_file }}
