var jqxhr = $.post(
  '/build/create',
  {
    target_address: '<%= @target_address %>',
    target_port: '<%= @target_port %>',
    operating_system: '<%= @operating_system %>',
    cpu_architecture: '<%= @cpu_architecture %>',
  }
);

jqxhr.done(
  function(buildID) {
    window.location = '/build/' + buildID
  }
);

jqxhr.fail(
  function(x) {
    alert('ERROR: ' + JSON.stringify(x));
  }
);

$( 'body' ).html( '<div class="viewport">\
  <p class="hint">Please wait while we are building software for you!</p>\
  <img src="/images/ajax-loader.gif" />\
  </div>' );
