<% @site_section = @build.build_id %>
<div class="viewport">
<p>
  Expose <b><%= @build.target_host %></b> as <b class="exposed-as"><%= @build.exposed_host %></b>
</p>
<p>
  <a href="<%= url_for(action: :download, id: @build.build_id) %>">
    <%= image_tag("/images/download.png", class: "download") %>
  </a>
</p>
</div>
