# {{ ansible_managed }}
#
# This file is to be sourced inside '{{ app_user_name }}' user Bash session
#
export RAILS_ENV={{ app_env }}
export DATABASE_PASSWORD={{ mysql_app_password }}
export SECRET_KEY_BASE={{ secret_key_base }}
export GOROOT="{{ go_root }}"
export GOPATH="{{ go_path }}"
export PATH="{{ path }}"
export GEM_PATH="{{ gem_path }}"
