# {{ ansible_managed }}

export RAILS_ENV={{ app_env }}
export DATABASE_PASSWORD={{ mysql_app_password }}
export SECRET_KEY_BASE={{ secret_key_base }}
export RAILS_SERVE_STATIC_FILES=yes

export GOROOT="{{ go_root }}"
export GOPATH="{{ go_path }}"

export PATH="{{ gem_path }}/bin:${GOPATH}/bin:${GOROOT}/bin:${PATH}"

[ -f {{ app_host_file }} ] && export CLOUDPORT_HOSTNAME=$(cat {{ app_host_file }})
