# {{ ansible_managed }}
#
# A very basic Nginx configuration
#
server {
	listen 80 default_server;
	server_name _;
	root {{ app_path }}/public;
	server_tokens off;

	# try static files || proxy to the Rails backend
	try_files $uri @rails;
	location @rails {
		include /etc/nginx/proxy_params;
		proxy_pass http://{{ app_server_bind }}:{{ app_server_port }};
	}
}
