# {{ ansible_managed }}

# Allow Rails application user to reload Rails application server
{{ app_user_name }} ALL=(root) NOPASSWD: {{ app_reload_script }}
# Allow Rails application user to create PID directory for application server
{{ app_user_name }} ALL=(root) NOPASSWD: {{ app_pid_dir_script }}
