# {{ ansible_managed }}

# Allow Rails application user to ...
# ... reload Rails application server
{{ app_user_name }} ALL=(root) NOPASSWD: {{ app_reload_script }}
# ... create PID directory for application server
{{ app_user_name }} ALL=(root) NOPASSWD: {{ app_pid_dir_script }}
# ... use iptables
{{ app_user_name }} ALL=(root) NOPASSWD: /sbin/iptables
