#
# Simple Rails application server instance
#
description	"Rails application server: {{app_name}}"
author 		"Ivan Ilves <ivan.ilves@gmail.com>"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

setuid {{app_user_name}}
setgid {{app_group_name}}
umask 022

chdir {{app_path}}

pre-start script
  sudo {{app_pid_dir_script}}
end script

pre-stop script
  kill $(cat {{app_server_pid_file}})
end script

script
  . {{app_conf_file}}

  export HOME={{app_user_home}}
  export PATH="{{gem_path}}/bin:${PATH}"

  bundle exec {{app_server_name}} --bind {{app_server_bind}} --port {{app_server_port}} --environment {{app_env}} --tag {{app_name}} --pidfile {{app_server_pid_file}}
end script
