// Place all the styles related to the Builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #3a90c9;
$main-bg-color: white;
$heading-color: #c5405b;
$info-bg-color: #fffff0;
$field-bg-color: #d6e5f4;
$field-focus-bg-color: #ffffbb;
$button-hover-bg-color: #eeffff;
$link-color: black;
$link-hover-color: orange;
$download-link-hover-color: #e6f5ff;

$fonts: monospace, helvetica, sans-serif;
$heading-fonts: impact, monospace;
$font-size-normal: 120%;
$font-size-big: 140%;
$font-size-heading: 480%;

$small-border: 2px solid;
$big-border: 4px solid;
$huge-border: 6px solid;

$small-radius: 4px;
$big-radius: 8px;
$huge-radius: 48px;

body {
  font: $font-size-normal $fonts;
  color: $main-color;
  background-color: $main-bg-color;
  text-align: center;
}

h1[class="heading"] {
  color: $heading-color;
  font: $font-size-heading $heading-fonts;
  margin-top: 2%;
  margin-bottom: 2%;
}

h2[class="slogan"] {
  background-color: $info-bg-color;
  text-transform: uppercase;
  border-top: $small-border;
  border-bottom: $small-border;
  margin-bottom: 2%;
}

div[class="viewport"] {
  width: 850px;
  height: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

form[class="build"] {
  padding-top: 35px;
}

label[for="expose"] {
  font-size: $font-size-big;
  font-weight: bold;
}

input {
  margin: 5px;
  padding: 10px;
  border-color: $main-color;
}

input[type="text"], input[type="number"] {
  font: $font-size-big $fonts;
  color: $main-color;
  background-color: $field-bg-color;
  border: $small-border;
  border-radius: $small-radius;
}

input[type="submit"] {
  width: 100px;
  font: $font-size-big $fonts;
  font-weight: bold;
  color: $main-color;
  background-color: $main-bg-color;
  border: $big-border;
  border-radius: $big-radius;
}

input[name="target_address"] {
  width: 400px;
}

input[name="target_port"] {
  width: 100px;
  text-align: center;
}

input[type="text"]:focus, input[type="number"]:focus {
  background-color: $field-focus-bg-color;
}

input[type="submit"]:hover {
  background-color: $button-hover-bg-color;
}

div[class="xcompile"] {
  width: 100%;
  height: 50px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

select {
  font: $font-size-normal $fonts;
  color: $main-color;
  background-color: $main-bg-color;
  border: $small-border;
  border-radius: $small-radius;
  padding: 10px;
}

select[name="operating_system"] {
  width: 200px;
  margin-right: 10px;
}

select[name="cpu_architecture"] {
  width: 120px;
  margin-right: 140px;
}

b[class="exposed-as"] {
  color: $main-bg-color;
  background-color: $main-color;
  font-size: $font-size-big;
}

p[class="hint"] {
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}

img[class="download"] {
  border: $huge-border;
  border-radius: $huge-radius;
  border-color: $main-bg-color;
}

img:hover[class="download"] {
  border: $huge-border;
  border-radius: $huge-radius;
  border-color: $download-link-hover-color;
}

div[class="bottom-container"] {
  width: 100%;
  background-color: $info-bg-color;
  border-top: $small-border;
  border-bottom: $small-border;
  margin-top: 5%;
}

a:link[class="bottom"], a:visited[class="bottom"] {
  color: $main-color;
}

a:hover[class="bottom"] {
  color: $link-hover-color;
}
