// Place all the styles related to the Builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #3a90c9;
$main-bg-color: white;
$field-bg-color: #d6e5f4;
$field-focus-color: #ffffbb;
$button-hover-bg-color: #eeffff;
$link-color: black;
$link-hover-color: orange;

$fonts: monospace, helvetica, sans-serif;
$font-size-normal: 120%;
$font-size-big: 140%;

$big-border: 4px solid;
$small-border: 2px solid;

$big-radius: 8px;
$small-radius: 4px;

body {
  font: $font-size-normal $fonts;
  color: $main-color;
  background: white;
}

div[class="viewport"] {
  width: 850px;
  height: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

label[for="expose"] {
  font-size: $font-size-big;
  font-weight: bold;
}

input {
  margin: 5px;
  padding: 10px;
  border-color: $main-color;
}

input[type="text"], input[type="number"] {
  font: $font-size-big $fonts;
  color: $main-color;
  background-color: $field-bg-color;
  border: $small-border;
  border-radius: $small-radius;
}

input[type="submit"] {
  width: 100px;
  font: $font-size-big $fonts;
  font-weight: bold;
  color: $main-color;
  background-color: $main-bg-color;
  border: $big-border;
  border-radius: $big-radius;
}

input[name="target_address"] {
  width: 400px;
}

input[name="target_port"] {
  width: 100px;
  text-align: center;
}

input[type="text"]:focus, input[type="number"]:focus {
  background-color: $field-focus-color;
}

input[type="submit"]:hover {
  background-color: $button-hover-bg-color;
}

div[class="xcompile"] {
  width: 100%;
  height: 50px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

select {
  font: $font-size-normal $fonts;
  color: $main-color;
  background-color: $main-bg-color;
  border: $small-border;
  border-radius: $small-radius;
  padding: 10px;
}

select[name="operating_system"] {
  width: 200px;
  margin-right: 10px;
}

select[name="cpu_architecture"] {
  width: 120px;
  margin-right: 140px;
}

p[class="hint"] {
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align: center;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}
