<div class="bottom-container">
  <p>
    CloudPort creates specially tailored
    <b><a class="bottom" href="https://github.com/ivanilves/ptu/">[ptu]</a></b>
    builds to allow seamless user experience.
  </p>
  <p>
    The goal is to deliver a ready to use, zero-configurable and disposable application.
  </p>
</div>
