<div class="bottom-container">
  <p>
    CloudPort creates specially tailored
    <b><a class="bottom" href="https://github.com/ivanilves/ptu/">[ptu]</a></b>
    builds to allow seamless user experience.
  </p>
  <p>
    My goal is to deliver ready to use, zero-configurable and disposable applications.
  </p>
  <p>
    If application usage is not obvious to you, drop me a <b><a class="bottom" href="mailto:ivan.ilves@gmail.com">line</a></b>. I appreciate feedback!
  </p>
</div>
