<a class="heading" href="/"><h1 class="heading">CloudPort</h1></a>

<div class="about-header-section">
  <a class="about-header-section" href="#" onclick="$('#about-dialog').dialog('open');return false;">[i]</a>
</div>

<div id="about-dialog" title="About CloudPort" style="display: none;">
  <div class="about">
  <p>
    With <b>CloudPort</b> you can establish secure reverse tunnels,
    expose services inside your LAN to the Internet, in an extremely easy & ad-hoc manner.
  </p>
  <p>
    Provide remote professionals with a temporary access to your network,
    or support your own clients, including "behind-the-firewall" ones!
  </p>
  <br/>
  <p>
    <i>For those tortured by SSH inside TeamViewer or GoToMeeting, this should  make sense perfectly.</i>
  </p>
  <br/>
  <p>
    CloudPort creates specially tailored applications
    for you, ready to use, no configuration required.
    <i>Download, run and burn after ...</i> <b>No maintenance!</b>
  </p>
  <br/>
  <p>
    Got some feedback? You are welcome to <b><a target="_blank" href="https://github.com/ivanilves/CloudPort/issues"><b>write it</b></a></b>!
  </p>
  </div>
</div>
