<!DOCTYPE html>
<html>
<head>
  <title>Manage CloudPort</title>
  <%= csrf_meta_tags %>
  <%= load_netzke %>
  <link rel="shortcut icon" href="/favicon.png" />
</head>
<body>
  <%= yield %>
</body>
</html>
